
.wheel-container
{
    font-family: arial;
    margin-bottom: 50px;
}

/* Sets the background image for the wheel */
.the_wheel
{
    position: relative;
    background-image: url(/wp-content/plugins/orbitwheel/assets/img/wheelbg_en.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 75px;
    background-size: cover;
    width: 914px;
    background-size: 100%;
    padding-bottom: 20px;
}
.the_wheel.wheel_fr {
    background-image: url(/wp-content/plugins/orbitwheel/assets/img/wheelbg_fr.png);
}


/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

#dv-congratulations{
    color:#FFF;
    font-weight: bold;
    font-size: 2em;
    visibility: hidden;
    margin-top: 533px;
    text-align: center;
    position: absolute;
    z-index: 3;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.orbit-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
    background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
    background-color:#fe1a00;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 2em;
    font-weight:bold;
    width: 250px;
    padding: 15px 5px;
    text-decoration:none;
    text-transform: uppercase;
    text-shadow:0px 1px 0px #b23e35;
    margin-top: 25px;
    outline: none;
}
.orbit-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
    background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
    background-color:#ce0100;
}
.orbit-button::disabled {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #ccc));
    background:-moz-linear-gradient(top, #ccc 5%, #ccc 100%);
    background:-webkit-linear-gradient(top, #ccc 5%, #ccc 100%);
    background:-o-linear-gradient(top, #ccc 5%, #ccc 100%);
    background:-ms-linear-gradient(top, #ccc 5%, #ccc 100%);
    background:linear-gradient(to bottom, #ccc 5%, #ccc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#ccc',GradientType=0);
    background-color:#ccc;
}
.orbit-button:active {
    position:relative;
    top:1px;
}

table.power{
    color: #000 !important;
    font-size: 2em !important;
}

table.power tr td{
    padding: 17px;
}
.entry-content table, body.et-pb-preview #main-content .container table{
    border: 0 !important;
}
.entry-content tr td, body.et-pb-preview #main-content .container tr td{
    border: 0 !important;
}
#wheel-arrow{
    position: absolute;
    top: 49px;
    width: 110px;
    height: 20px;
    left: calc( 50% - 50px );
}
#wheel-arrow img{
    position: relative;
    width: 110px;
    transform-origin: 50% 30% ;
}
#wheel-arrow img.shake {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 300ms;
    -webkit-animation-iteration-count: 20;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 300ms;
    -moz-animation-iteration-count: 20;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 300ms;
    -ms-animation-iteration-count: 20;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 300ms;
    animation-iteration-count: 20;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    20% { -moz-transform: rotate(-25deg); }
    40% { -moz-transform: rotate(0deg); }
    60% { -moz-transform: rotate(25deg); }
    80% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    25% { -webkit-transform: rotate(-25deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(25deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    25% { transform: rotate(-25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}

#canvas{
    margin-top: 130px;
    margin-left: 0px;
    margin-bottom: 50px;
}
#fireworks-container2 img{
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 10;
}
    #fireworks-container2{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    opacity: 0.6;
}
#fireworks-container2 canvas{
    width: 100%;
    height: 100%;
}

.wheel-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.wheel-layout.wheel-layout-vertical {
    flex-direction: column;
}

.wheel-layout .the_wheel {
    flex-shrink: 0;
}
.wheel-layout .spin-form {
    flex-shrink: 0;
    width: 25vw;
    min-width: 300px;
    margin: 40px;
}
.spin-form {
    font-family: Arial, Helvetica, sans-serif;
}
.spin-form .form-instructions {
    color: #fff;
    font-size: 1.3em;
}
.spin-form .user-info {
    margin-top: 25px;
    padding: 25px;
    background: rgba( 255, 255, 255, 0.5 );
    border-radius: 15px;
}
.spin-form .user-info .form-input {
    position: relative;
}
.spin-form .user-info .form-input + .form-input {
    margin-top: 25px;
}
.spin-form .user-info .form-input input {
    width: calc( 100% - 25px );
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
}
.spin-form .user-info .form-input .error-message {
    position: absolute;
    top: 100%;
    right: 5px;
    color: #ce0100;
}

.spin-form .user-info .max-spin-indicator {
    margin-top: 25px;
    font-size: 1.5em;
}
.spin-form .user-info .max-spin-indicator.no-spins-left {
    color: #ce0100;
}
.spin-form .orbit-button {
    display: block;
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
}
.spin-form .reset-button {
    display: block;
    width: 100%;
    text-transform: uppercase;
    background: none;
    color: #dddddd;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    outline: none;
}

.spin-form .reset-button:hover, .spin-form .reset-button:active, .spin-form .reset-button:focus {
    color: #ce0100;
}